/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    height: 100%;
	
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	font-family: 'Lato', sans-serif;
    font-weight: 500;
}


.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 54.5%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

/*
	override starts
*/

.custom-font{
	font-size: 1.05em;
}


.custom-nav-header{
	font-size: 1.05em;
	   font-style: normal;
	font-weight: 300;
}

.custom-nav-logo{
	margin-top:1.5%;
	width:50%;
	display:block;
    float: left;
	vertical-align:center;
}

.custom-nav-logo2{
    margin-top:1.2%;
    margin-left:1%;
    margin-right:1%;
    display:block;
    float: left;
    color: white;
    vertical-align:center;
    font-size: 1.3em;
    background-color: white;
}

.custom-nav-logo3{
    margin-top:1.4%;
    width:30%;
    font-size: 1.15em;
    display:block;
    font-style: italic;
    float: left;
    vertical-align:center;
    color: white;
}

.custom-nav-logo3:hover,
.custom-nav-logo3:focus,
.custom-nav-logo3:active{
    color:white;
}


#mymainnav{
	background-color:transparent;
	border:0px;
}

.nav-colored { background-color:#ff0000; }
.nav-transparent { background-color:transparent;}

.carousel {
    margin-top:-4%;
}

/*
	overrrided method
	menu in center only if screen width is greater then 767px
*/
@media(min-width:767px){
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
	}
	.navbar .navbar-collapse {
		text-align: center;
	}
}

/*
	custom color of navigation menu
*/
.nav-custom-color{
//	background-color:#f0f0f0;
    background-color:rgb(228,225,217);
    hieght: 10px;

}

/*
	navigation link custom selection color effect
*/
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active{
	color:#A74300;
}

a{
    color: color: rgb(177,92,34);
}

.footerlink{
    color: rgb(211,211,211);
}

.footerlink:hover,
.footerlink:focus,
.footerlink:active{
    color: rgb(211,211,211);
}


.custom_header{
    color: rgba(51,51,51,0.8);
    font-size: 1.6em;
    margin: 0px 0px 0.931em 0px;
    font-weight: 400;
}

.custom_header2{
    color: rgba(51,51,51,0.8);
    font-size: 1.5em;
    margin: 0px 0px 0.931em 0px;
    font-weight: 400;
}

footer{
	background-color:#484236;
	height:70vh;
	margin-bottom:0px;
	color:#ffffff;
}

.vcard{
	font-size: 1em;
    line-height: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: capitalize;
	text-align:center;
}

#menunav > li > a {padding-top:9px !important; padding-bottom:9px !important;}
#menunavbar {min-height:40px !important}
